 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    background: #fafafa;
    width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
 }
 p, a, h1,h2,h3,h4,h5{
    text-decoration: none !important;
 }
 .row_productimg{
    height: 450px;
 }
 .card{
    height: 100%;
 }
 .category_all{
    color: grey;
    text-transform: capitalize;
    font-size: 18px;
 }
 .card-title{

 }